[core]
	editor = emacsclient --tty
	autocrlf = input
	pager = less -r
[alias]
	remoteopen = "!f(){ xdg-open `git remote -v | head -n 1| awk '/fetch/{print $2}' | sed -Ee 's#(git@|git://)#https://#' -e 's@com:@com/@' | sed -Ee 's#(\\.git)##'`/tree/`git symbolic-ref --quiet --short HEAD`/`git rev-parse --show-prefix`; }; f"
[diff]
	external = difft
[pager]
	difftool = true
[alias]
	dft = difftool
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINCnIcOtt1gn5HwEOUGM8Xw7j1JyzymTU3oTPj+kDsfj

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"
	allowedSignersFile = /home/nevin/.ssh/allowed_signers

[commit]
  gpgsign = true
[init]
	defaultBranch = main
